{{!-- this is an example of a "namespaced" component. Allows me to organize my components by folders according to their purpose --}}

{{!-- this component can be invoked as <Rental::Image> --}}

{{!-- expression version of {{if}} takes 2 arguments (condition, expression if true). Optional 3rd argument(expression if false)--}}
<button type="button" class="image {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
    {{!-- the "{{on}}" modifier attaches the method this.toggleSize as a click handler on the button   --}}
    <img ...attributes>
    {{!-- the ...attributes keyword allows arbitrary HTML attributes to be passed in when invoking this component --}}
        <small>View {{if this.isLarge "Smaller" "Larger"}}</small>
</button>
  